<script>
  export let segment
  import Nav from "../components/Nav.svelte"
  import Footer from "../components/Footer.svelte"
</script>

<style>
  main {
    box-sizing: border-box;
    margin: 0 auto;
  }
</style>


<Nav {segment} />

<main class="relative p3 mw7" >
  <slot></slot>
</main>

<div class="mw7 center">
  <Footer />
</div>
