<script>
  import Logotype from "../components/AnimatedLogotype.svelte"
</script>
<svelte:head>
  <title>Avocato - your advocates & software developers </title>
</svelte:head>

<h1 class="fw7 f-headline qs mb0">
  Hi, we're
</h1>
<div class="w-100 pb4">
  <Logotype />
</div>
<h2 class="fw6 f-subheadline mt6 pb4 lh-title">
  Software designed with
  <strong class="fw6 relative">you</strong>
  in mind.
</h2>


<h3 class="fw4 f1 mt3">
  (We're your advocates, after all!)
</h3>

<a href="mailto:hello@avocato.dev" target="blank" rel="noopener" class="link dib mt4 mb6 w-100 tc fw6 button f3 pv3 ba bw2 br2">
  Contact Us
</a>


<style>
  h1 {
    color: #8c251c;
  }

  h2, h3 {
    color: #305422;
  }

  strong::after {
    position: absolute;
    display: block;
    z-index: -1;
    bottom: -0.25rem;
    border-radius: 0.5rem;
    left: 0;
    content: "";
    width: 100%;
    height: 0.75rem;
    background-color: #76BB48;
  }

  .button {
    position: relative;
    transition: 0.3s;
    border-color: #396727;
    color: #396727;
    top: 0;
    background: transparent;
  }

  .button:hover,
  .button:focus {
    border-color: transparent;
    color: #396727;
    background: #BDE69A;
    box-shadow: 0 6px #4A852F;
  }

  .button:active {
    top: 6px;
    box-shadow: 0 0 #4A852F;
  }
</style>
