<hr class="mv4" />
<div class="flex flex-wrap f5 mb4 flex-row justify-center items-center">
  <p class="text-center db mr2">&#169; 2020 Avocato.</p>
  <p class="text-center">All rights reserved.</p>
</div>

<style>
  hr {
    border-color: #DEF6C6;
  }
  p {
    color: #BDE69A;
  }
</style>
