<script>
  export let segment

  const links = [
    { href: ".", sgmt: undefined, text: "Home" },
    { href: "projects", sgmt: "projects", text: "Projects" },
  ]
</script>

<nav class="h4">
  <div class="flex center items-center mw7 pt4 pb4 justify-between">
    <a href="." class="link">
      <img src="logo.svg" class="h3" alt="Avocato logo"/>
    </a>
    <ul class="list pl0 flex items-center justify-between">
      {#each links as {href, text, sgmt} }
      <li>
        <a {href} class="link fx ml4 f4 ttl" class:selected={segment == sgmt}>
          {text}
        </a>
      </li>
      {/each}
      <li>
        <a href="mailto:hello@avocato.dev" target="_blank" rel="noopener" class="link button ml4 f4 fw4 pv2 ph4 ba bw1 br2">
          say hi!
        </a>
    </ul>
  </div>
</nav>

<style>

  .button {
    position: relative;
    transition: 0.3s;
    border-color: #5da138;
    color: #5da138;
    top: 0;
    background: transparent;
  }

  .button:hover,
  .button:focus {
    border-color: transparent;
    color: #396727;
    background: #BDE69A;
    box-shadow: 0 4px #4A852F;
  }

  .button:active {
    top: 4px;
    box-shadow: 0 0 #4A852F;
  }
  .fx {
    color: #5da138;
    position: relative;
  }

  .fx::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.25rem;
    width: 0;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: #396727;
    transition: width 0.3s;
  }

  .fx:hover,
  .fx:focus,
  .fx.selected {
    color: #396727;
  }

  .fx:hover::before,
  .fx:focus::before,
  .fx.selected::before {
    width: 100%;
  }
</style>
