@import "tachyons";

body {
  background-color: #f8fff0;
}

.qs {
  font-family: Quicksand, -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
